p {
  font-size: 1.2rem;
    margin: 0px;
  color: rgb(206, 168, 87) !important;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}
h4 {
  border-style: outset !important;
  font-size: larger;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./components/assets/tilebgdark.png");
  color: rgb(206, 168, 87) !important;
  padding: 25px !important;
  margin-top: 0px;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.vertical-spacer-sm {
  margin-top: 10px;
}

.vertical-spacer-md {
  margin-top: 60px;
}

.form-text {
  font-weight: bold;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.content-border {
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./components/assets/tilebg.png");
  color: rgb(206, 168, 87) !important;
  padding: 25px !important;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.image-true {
  max-width: 300px;
  height: auto;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.btn {
  padding: 10px !important;
  height: auto;
  width: auto;
  background: url("./components/assets/tilebgdark.png") !important;
  color: rgb(190, 141, 35) !important;
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

input {
  color: rgb(190, 141, 35) !important;
  font-family: "Press Start 2P", cursive;
  font-size: small;
  margin-top: none;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.mainbox {
  margin: 2% !important;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

a:active {
  cursor: url("./components/assets/cursorHandClick.png"), auto !important;
}

.mainContent {
  margin: auto;
  padding: 30px;
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./components/assets/tilebgdark.png");
  color: rgb(206, 168, 87) !important;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.img {
  background: url("./components/assets/tilebgdark.png");
  margin: auto;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.browser-default {
  background: url("./components/assets/tilebgdark.png");
  color: rgb(206, 168, 87) !important;
  font-family: "Press Start 2P", cursive;
  border: none;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

option {
  background-color: rgb(20, 14, 29);
  color: rgb(206, 168, 87) !important;
  font-family: "Press Start 2P", cursive;
  border: none;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

select:active,
select:hover {
  outline-color: rgb(206, 168, 87) !important;
  cursor: url("./components/assets/cursorHandClick.png"), auto !important;
}

.checkbox {
  font-size: small !important;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

label {
  margin: auto;
  font-size: medium;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

.chatBorder {
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./components/assets/tilebgdark.png");
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}

span {
  padding: 0px !important;
  align-self: auto;
  cursor: url("./components/assets/cursorHand.png"), auto !important;
}
