p{
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.vertical-spacer-sm{
  margin-top: 10px
}

.form-text{
  font-weight: bold;
}

.content-border{
  border-style: solid;
  border-width: 8px;
  padding: 5px 5px 5px 5px;
}