.BookTab {
  margin-top: -3px;
  margin-left: 10px;
  padding: 15px 8px;
  z-index: 1 !important;
  height: auto;
  width: auto;
  background: url("../assets/tilebgdark.png") !important;
  color: rgb(190, 141, 35) !important;
  border-bottom: 8px outset;
  border-right: 8px outset;
  border-left: 8px outset;
  border-color: rgb(190, 141, 35);
  cursor: url("../assets/cursorHand.png"), auto !important;
}
