.BookModal {
  /* Hidden by default */
  position: fixed !important; /* Stay in place */
  z-index: 3 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border: none;
}

/* Modal Content */
.book-content {
  position: relative;
  z-index: 3 !important; /* Sit on top */
  background: url("../assets/bookbg.png") !important;
  margin: auto;
  width: 900px;
  height: 666px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: "Press Start 2P", cursive;
  border: none !important;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.booktext {
  color: black !important;
}

.CloseBook {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
  border: 4px rgb(190, 141, 35) solid;
  background-color: rgb(20, 14, 29);
  color: rgb(190, 141, 35);
  font-family: "Press Start 2P", cursive;
}

.pagingUp {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
  border: 4px rgb(190, 141, 35) solid;
  background-color: rgb(20, 14, 29);
  color: rgb(190, 141, 35);
  font-family: "Press Start 2P", cursive;
}

.pageDown {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
  border: 4px rgb(190, 141, 35) solid;
  background-color: rgb(20, 14, 29);
  color: rgb(190, 141, 35);
  font-family: "Press Start 2P", cursive;
}

.bottom {
  bottom: 0;
}

.booktabs {
  padding: 5px;
  left: 0;
  border-left: 4px rgb(190, 141, 35) solid;
  border-right: 4px rgb(190, 141, 35) solid;
  border-top: 4px rgb(190, 141, 35) solid;
  background-color: rgb(20, 14, 29);
  color: rgb(190, 141, 35);
  font-family: "Press Start 2P", cursive;
}
