.btn {
  margin: auto;
  padding: 15px;
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./tilebgdark.png");
  color: rgb(206, 168, 87) !important;
}

.mainContent {
  margin: auto;
  padding: 30px;
  border-style: outset !important;
  border: 8px solid;
  border-color: rgb(190, 141, 35);
  background: url("./tilebgdark.png");
  color: rgb(206, 168, 87) !important;
}

.img {
  background: url("./tilebgdark.png");
  margin: auto;
}
