body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

#info {
    position: relative;
    color: white;
	top: 100%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.small-p {
    font-size: 1rem;
}

/* .btn {
    padding: 10px !important;
    height: auto;
    width: auto;
    background: url("./components/assets/tilebgdark.png") !important;
    color: rgb(190, 141, 35) !important;
    border-style: outset !important;
    border: 8px solid;
    border-color: rgb(190, 141, 35);
    cursor: url("./components/assets/cursorHand.png"), auto !important;
  } */