body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    color: white;
    background: purple;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}